{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white">Campus</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li class="active text-gray-silver">Campus</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">

            <!-- Textblock -->
            <div class="esc-heading heading-line-bottom lr-line left-heading">
                <h4>University Campus</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>The University campus is well connected to all major cities of Uttar Pradesh by rail and road and
                        is 250Kms from State capital -Lucknow and 256kms from National Capital Delhi. </p>
                    <p>The university campus with attractive landscaping over above 44.5 acres includes academic blocks,
                        residential blocks, hospital block, facilities block, lush green gardens, rain water harvesting
                        and recycling of various natural resources. Rigorous efforts are made to embed growing
                        technology into every aspect to make it environment eco-friendly.
                    </p>
                    <p>The campus is situated in the heart of the Bareilly city and can be reached easily from any part
                        of the town. A 720-bedded hospital rendering health care services to people is the integral part
                        of the campus. </p>
                    <p>People- students, faculty, other teaching and non-teaching employee in the University campus
                        hails from all most from all part of India and belongs to different caste and creed, this makes
                        the University campus a multi cousin campus.</p>
                    <p>The University offers UG, PG, PG Diploma and Diploma level academic programs under the Faculty of
                        Medical Sciences, Faculty of Dental Sciences, Faculty of Nursing , Faculty of Para medical
                        Sciences, Faculty of Pharmacy, Faculty of Applied Sciences and Technology, Faculty of
                        Management. </p>

                </div>
            </div>

        </div>
    </section>
</div>
<!-- end main-content -->

{% endblock %}