{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white">Facilities</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li class="active text-gray-silver">Facilities</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">

            <!-- Textblock -->
            <div class="esc-heading heading-line-bottom lr-line left-heading">
                <h4>Campus Facilities</h4>
                <p>Bareilly International University believes in providing the best college experience to the students. With state of the art facilities and upgraded infrastructure BIU University is one of the best university in the State matching international standards.</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Wi-Fi Campus: </strong></p>
                    <p>In the fast expending global environment, it has become mandatory to remain in aware of
                        technological and professional development in all segment of education. To meet this challenge
                        the University campus made Wi Fi. Student are provided excess to it and in addition each
                        department have been equipped with computer facilities with LAN. This facility help student in
                        better learning, completing assignments and research. Additionally special and specific soft
                        wares are also available for research students.</p>
                    <p><strong>Library :</strong></p>
                    <p>The central library is well equipped with growing collection of books, periodicals and journals
                        function as learning resources and capable to caters the need of all the faculty.
                        <li>Reading room facility.</li>
                        <li>National & International database.</li>
                        <li>Book lending services.</li>
                        <li>Reference & information services.</li>
                        <li>E-Library.</li>
                        <li>Free Internet services with medlars facilities.</li>
                        In addition, departmental libraries are also functional. The library provides the following
                        student support services.
                    </p>
                    <p><strong>Auditorium: </strong></p>
                    <p>An air-cooled auditorium fully equipped having 900 seating capacity is available and the other
                        air conditioned auditorium with seating capacity of above 400 and 200 each delegates are also
                        available. The auditoriums are well equipped with advanced gadgets and suitable to organized
                        national and international level academic events. </p>
                    <p><strong>Student Health Services:</strong></p>
                    <p>A fully equipped hospital with OPD and IPD services in all specialities take care of all health
                        problems of all student and its habitants. The services are provided to students on concessional
                        rates.</p>
                    <p><strong>Guest House: </strong></p>
                    <p>A well- built guest house providing delighted services is maintained in the campus. It has 27 AC
                        rooms with dish TV. This facility is open to all type of University guest including parents of
                        students.</p>
                    <p><strong>Cafeteria: </strong></p>
                    <p>A break in between hectic studies helps in re-energizing and strengthen learning process. With
                        these ideology, spacious well-built cafeterias are in place where edibles with good nutrients
                        are prepared and served in very hygienic environment. Separate cafeteria for students & staff
                        are available in the campus</p>
                    <p><strong>Play Area: </strong></p>
                    <p>To keep students energetic and healthy, facilities for Indoor, Outdoor games, Gymnasium, yoga
                        centre are made available. Sports facilities for Cricket, Badminton, Table Tennis, Volley Ball,
                        Foot Ball, Basket Ball and Yoga Classes are available to all students inside the campus for
                        maintaining physical fitness. Students are encouraged to participate in various events and
                        Inter-Institutional tournaments. For cultural activities auditorium and stadium is also
                        available</p>
                    <p><strong>Banking Facility:</strong></p>
                    <p>A branch of Central Bank of India is situated in the campus. Two Automated Teller Machines (ATM)
                        are also available in the campus.</p>
                    <p><strong>Sports :</strong></p>
                    <p>To keep students energetic and healthy, facilities for Indoor, Outdoor games, Gymnasium, yoga
                        center are available on campus. For cultural activities auditorium and stadium is also
                        available.</p>

                </div>
            </div>

        </div>
    </section>
</div>
<!-- end main-content -->

{% endblock %}