{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white">History</h2>
              <ol class="breadcrumb text-left text-black mt-10">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active text-gray-silver">University History</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">

        <!-- Textblock -->
        <div class="esc-heading heading-line-bottom lr-line left-heading">
          <h4>Overview & Identity</h4>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Bareilly International University, Bareilly is established in accordance to UGC Act 1956 by the Uttar Pradesh Govt. Act No. 26 of 2016 dated 16th Sept 2016. The University has commenced academic activities from session 2016-17 with various courses. </p>
            <p>The University is in the process to design its own milestone in the pursuit of social commitment and excellence reflecting by establishing world class practices. It has reached the shores of developing into a seat of global learning to bring about transformation of the society through value-based education, research promotions.
            </p>
            <p>BIU has belief in innovation and forward-thinking that encourage to assume a leadership in various curriculum. These advantages give us a special opportunity to advance this great institution through carefully selected but ambitious choices that renew and extend its mission.</p>
            <p>Objective of BIU is the holistic development of each student through inter-disciplinary, multi-disciplinary and trans-disciplinary approach. University offers various innovative and unique courses that are truly transdisciplinary in nature, scope and contents and help the students to develop knowledge and skills in diverse areas of study which are innovative in the emerging areas.</p>
            <p>The learner-centric academic system with dynamic curriculum, broad-based courses are some of the important hall-marks of this University. The BIU aims to promote academic autonomy and empowerment, design multidisciplinary courses and exploratory research across disciplines among its faculty and students.</p>
            
          </div>
        </div>

      </div>
    </section>
  </div>
  <!-- end main-content -->

  {% endblock %}