{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white">Infrastructure</h2>
              <ol class="breadcrumb text-left text-black mt-10">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active text-gray-silver">Infrastructure</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">

        <!-- Textblock -->
        <div class="esc-heading heading-line-bottom lr-line left-heading">
          <h4>Infrastructure</h4>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>The campus have around 1.7 lack Square Meters constructed carpet area for carrying out various activities – administrative, academics, co-curriculum, welfare, hospital as well hostels and residences for faculty and staff, recreation, sports and games and other facility to cater day to day requirement of all inhabitants.  In the campus, various blocks and facilities centers are well connected using metallic road. Entry and exit to and from campus is monitored and regulated for security and safety. </p>
            <p>Even with addition of more courses and buildings, it as the University continues to feel intimate in maintaining its sense of coherence.</p>
            
            <p>IT services are provided across the campus using LAN and Wi-Fi. Lecture theaters and other teaching units /rooms are ICT equipped to facilitate teaching and learning process.</p>
            <p>Seminars , workshop , interactions and  guest lectures  are the basics  to keep the student updated with development  in and around the globe</p>
            
          </div>
        </div>

      </div>
    </section>
  </div>
  <!-- end main-content -->

  {% endblock %}