<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="Bareilly International University invites application for admission Undergraduate
  Postgraduate, Phd. of Medical Education & Others Programmes, Contact: 9105500101, Address: Bareilly (U.P.)"
          content="Bareilly International University Bareilly (U.P.) | BIU Bareilly | BIU"/>
    <meta
            name="Bareilly International University, admission open for mbbs, bsc nursing, bds, mds, md ms, bba, b.com, bpt, phd , B Sc.(Optometry),B Sc. (Medical Lab Technology), D Pharma, B Pharma, B.A. Journalism, B.A. Mass Communication, BIU Bareilly, BIU"
            content="M.A. Journalism, M.A. Mass Communication, M.A. Psychology, M.A. Sociology, M.A. English, M.A. Hindi,B.Sc (Computer Science), B.Com (Hons), BBA (Finance & Taxation), Master in Public Health, Masters Hospital Administration, M.Com, ANM, GMN, NPCC, "/>
    <meta name="BIU" content="Bareilly International University"/>
    <!-- Page Title -->
    <title>Bareilly Internation University Bareilly (U.P.)</title>
    {% load static %}
    <!-- Favicon and Touch Icons -->
    <link href="{% static 'photos/header/fevicon/favicon.ico' %}" rel="shortcut icon" type="image/png">
    <link href="{% static 'photos/header/fevicon/android-chrome-192x192.png' %}" rel="apple-touch-icon">
    <link href="{% static 'photos/header/fevicon/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="72x72">
    <!-- Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/css-plugin-collections.css' %}" rel="stylesheet"/>
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="{% static 'css/menuzord-skins/menuzord-rounded-boxed.css' %}"
          rel="stylesheet"/>
    <!-- CSS | Main style file -->
    <link href="{% static 'css/style-main.css' %}" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- CSS | Preloader Styles -->
    <link href="{% static 'css/preloader.css' %}" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="{% static 'css/custom-bootstrap-margin-padding.css' %}" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

    <!-- CSS | Theme Color -->
    <link href="{% static 'css/colors/theme-skin-color-set-1.css' %}" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- css | Even Fonts -->
    <link href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css"
          rel="stylesheet" type="text/css">
    <!-- external javascripts -->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="{% static 'js/jquery-plugin-collection.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body onLoad="disableClick()">
<div id="wrapper" class="clearfix">
    <!-- preloader -->
    <!--<div id="preloader">
      <div id="spinner">
        <div class="preloader-dot-loading">
          <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
      <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
    </div>-->
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-top bg-theme-color-headtop sm-text-center p-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget no-border m-0">
                            <ul class="list-inline font-13 sm-text-center mt-5">

                                <li>
                                    <a class="text-white" href="#">Login</a>
                                </li>
                                <li class="text-white">|</li>
                                <li>
                                    <a class="text-white" href="#">Downloads</a>
                                </li>
                                <li class="text-white">|</li>
                                <li>
                                    <a class="text-white" href="https://page.biu.edu.in/gallery">Gallery</a>
                                </li>
                                <li class="text-white">|</li>
                                <li>
                                    <a class="text-white"
                                       href="https://www.biu.edu.in/registration-form/">Registration Open</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="widget m-0 pull-right sm-pull-none sm-text-center">
                            <ul class="list-inline pull-right">
                                <li class="mb-0 pb-0">
                                    <div class="top-dropdown-outer pt-5 pb-10">
                                        <a class="top-cart-link has-dropdown text-white text-hover-theme-colored"><i
                                                class="fa fa-bell font-13"></i> (12)</a>
                                        <ul class="dropdown">
                                            <li>
                                                <!-- dropdown cart -->
                                                <!-- <div class="dropdown-cart">
                            <table class="table cart-table-list table-responsive">
                              <tbody>
                                <tr>
                                  <td><a href="#"><img alt="" src="{% static 'images/products/sm1.jpg' %}"></a></td>
                                  <td><a href="#"> Product Title</a></td>
                                  <td>X3</td>
                                  <td>$ 100.00</td>
                                  <td><a class="close" href="#"><i class="fa fa-close font-13"></i></a></td>
                                </tr>
                                <tr>
                                  <td><a href="#"><img alt="" src="{% static 'images/products/sm1.jpg' %}"></a></td>
                                  <td><a href="#"> Product Title</a></td>
                                  <td>X2</td>
                                  <td>$ 70.00</td>
                                  <td><a class="close" href="#"><i class="fa fa-close font-13"></i></a></td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="total-cart text-right">
                              <table class="table table-responsive">
                                <tbody>
                                  <tr>
                                    <td>Cart Subtotal</td>
                                    <td>$170.00</td>
                                  </tr>
                                  <tr>
                                    <td>Shipping and Handling</td>
                                    <td>$20.00</td>
                                  </tr>
                                  <tr>
                                    <td>Order Total</td>
                                    <td>$190.00</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="cart-btn text-right">
                              <a class="btn btn-theme-colored btn-xs" href="shop-cart.html"> View cart</a>
                              <a class="btn btn-dark btn-xs" href="shop-checkout.html"> Checkout</a>
                            </div>
                          </div>-->
                                                <!-- dropdown cart ends -->
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mb-0 pb-0">
                                    <div class="top-dropdown-outer pt-5 pb-10">
                                        <a class="top-search-box has-dropdown text-white text-hover-theme-colored"><i
                                                class="fa fa-search font-13"></i> &nbsp;</a>
                                        <ul class="dropdown">
                                            <li>
                                                <div class="search-form-wrapper">
                                                    <form method="get" class="mt-10">
                                                        <input type="text"
                                                               onfocus="if(this.value =='Enter your search') { this.value = ''; }"
                                                               onblur="if(this.value == '') { this.value ='Enter your search'; }"
                                                               value="Enter your search" id="searchinput" name="s"
                                                               class="">
                                                        <label><input type="submit" name="submit" value=""></label>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="widget no-border m-0 mr-15 pull-right flip sm-pull-none sm-text-center">
                            <ul class="styled-icons icon-circled icon-sm pull-right flip sm-pull-none sm-text-center mt-sm-15">
                                <li><a href="https://www.facebook.com/biubly/"><i class="fa fa-facebook text-white"></i></a>
                                </li>
                                <li><a href="https://twitter.com/biubareilly"><i
                                        class="fa fa-twitter text-white"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus text-white"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram text-white"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="header-nav-wrapper navbar-scrolltofixed bg-lightest">
                <div class="container">
                    <nav id="menuzord-right" class="menuzord orange">
                        <a class="menuzord-brand pull-left flip mt-15" href="javascript:void(0)">
                            <img src="{% static 'photos/header/BIULOGOminnew.png' %}" alt="BIU Logo" loading="lazy">
                        </a>
                        <ul class="menuzord-menu dark">
                            <li class="active"><a href="../">Home</a></li>
                            <li><a href="../about">About Us
                                <!--<span class="label label-info">New</span>-->
                            </a>
                                <ul class="dropdown">
                                    <li><a href="../history">History</a></li>
                                    <li><a href="../campus">Campus</a></li>
                                    <li><a href="../visionmission">Vision & Mission</a></li>
                                    <li><a href="../infrastructure">Infrastructure</a></li>
                                    <li><a href="../facilities">Facilities</a></li>
                                    <!--<li><a href="features-preloader.html">Approvels</a></li>
                                    <li><a href="features-preloader.html">University Act</a></li>
                                    <li><a href="features-preloader.html">Regulations</a></li>-->
                                    <li><a href="../universitylogo">University Logo</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Governance</a>
                                <ul class="dropdown">
                                    <li><a href="../chancellor">Chancellor</a></li>
                                    <li><a href="../prochancellor">Pro Chancellor</a></li>
                                    <li><a href="../vicechancellor">Vice Chancellor</a></li>
                                    <li><a href="../provicechancellor">Pro Vice Chancellor</a></li>
                                    <li><a href="../registrar">Registrar</a></li>
                                    <!--<li><a href="features-preloader.html">Examination Committee</a></li>
                                    <li><a href="features-preloader.html">Academic Council</a></li>
                                    <li><a href="features-preloader.html">Finance Committee</a></li>
                                    <li><a href="features-preloader.html">Executive Council</a></li>
                                    <li><a href="features-preloader.html">Organization Structure</a></li>-->
                                </ul>
                            </li>
                            <li><a href="#">Academics</a>
                                <ul class="dropdown">
                                    <li><a href="#">Programmes</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Bachelors</a>
                                                <ul class="dropdown">
                                                    <li><a href="../courses/mbbs">MBBS</a></li>
                                                    <li><a href="../courses/bds">BDS</a></li>
                                                    <li><a href="../courses/bscnursing">B.Sc (Nursing)</a></li>
                                                    <li><a href="../courses/bscopt">B.Sc (Optometery)</a></li>
                                                    <li><a href="../courses/bscfc">B.Sc (Forensic Sci.)</a></li>
                                                    <li><a href="../courses/bscmlt">B.Sc (Medical Lab Technology)</a>
                                                    </li>
                                                    <li><a href="../courses/bpt">BPT (Bachelor of Physiotherapy)</a>
                                                    </li>
                                                    <li><a href="../courses/bpharma">B.Pharama (Bachelor of
                                                        Pharmacy)</a></li>
                                                    <li><a href="../courses/bbaft">BBA (Finance & Taxation)</a></li>
                                                    <!--<li><a href="#">BCA</a></li>-->
                                                    <li><a href="../courses/bcomh">Bachelor of Commerce(Hons)</a></li>
                                                    <li><a href="../courses/bajournalism">BA (Journalism)</a></li>
                                                    <li><a href="../courses/bamasscommunication">BA (Mass
                                                        Communication)</a></li>
                                                    <!--<li><a href="portfolio-boxed-gutter-6-col.html">B.Sc(Multimedia & Animation)</a></li>-->
                                                    <li><a href="../courses/bsccs">B.Sc(Computer Sci.)</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Masters</a>
                                                <ul class="dropdown">
                                                    <li><a href="../courses/md">MD (Specializations)</a>
                                                        <!--<ul class="dropdown">
                                                          <li><a href="#">MD (Anatomy)</a> </li>
                                                          <li><a href="#">MD (Biochemistry)</a> </li>
                                                          <li><a href="#">MD (Community Medicine)</a> </li>
                                                          <li><a href="#">MD (Dermatology)</a> </li>
                                                          <li><a href="#">MD (General Medicine)</a> </li>
                                                          <li><a href="#">MD (Microbiology)</a> </li>
                                                          <li><a href="#">MD (Paediatrics)</a> </li>
                                                          <li><a href="#">MD (Pharmacology)</a> </li>
                                                          <li><a href="#">MD (Physiology)</a> </li>
                                                          <li><a href="#">MD (Radiology)</a> </li>
                                                          <li><a href="#">MD (Respiratory Medicine)</a> </li>
                                                          <li><a href="#">MD (Pathology)</a> </li>
                                                          <li><a href="#">MD (Psychiatry)</a> </li>
                                                          <li><a href="#">MD (Pulmonary Medicine)</a> </li>
                                                          <li><a href="#">MS Specialization</a> </li>
                                                          <li><a href="#">M.Sc Medical Specialization</a> </li>
                                                          <li><a href="#">MS (E.N.T.)</a> </li>
                                                          <li><a href="#">MS (General Surgery)</a> </li>
                                                          <li><a href="#">MS (Anaesthesiology)</a> </li>
                                                          <li><a href="#">MS (Obst. & Gynaeco)</a> </li>
                                                          <li><a href="#">MS (Ophthalmology)</a> </li>
                                                          <li><a href="#">MS (Orthopaedics)</a> </li>
                                                          <li><a href="#">MSc. Medical Microbiology</a> </li>
                                                          <li><a href="#">MSc. Medical Pharmacology</a> </li>
                                                          <li><a href="#">MSc. Medical Physiology</a> </li>
                                                          <li><a href="#">MSc. Medical Biochemistry</a> </li>
                                                          <li><a href="#">MSc. Medical Anatomy</a> </li>
                                                        </ul>-->
                                                    </li>
                                                    <li><a href="../courses/ms">MS (Specializations)</a>
                                                        <!--<ul class="dropdown">
                                                          <li><a href="#">MDS (Prosthodontics)</a> </li>
                                                          <li><a href="#">MDS (Conservative)</a> </li>
                                                          <li><a href="#">MDS (Periodontology)</a> </li>
                                                          <li><a href="#">MDS (Oral Surgery)</a> </li>
                                                          <li><a href="#">MDS (Orthodontics)</a> </li>
                                                          <li><a href="#">MDS (Paedodontics)</a> </li>
                                                          <li><a href="#">MDS (Oral Medicine)</a> </li>
                                                          <li><a href="#">MDS (Oral Pathology)</a> </li>
                                                          <li><a href="#">MDS (Public Health Dentistry)</a> </li>
                                                        </ul>-->
                                                    </li>
                                                    <li><a href="../courses/msc">M.Sc (Specializations)</a></li>
                                                    <li><a href="../courses/mds">MDS (Specializations)</a></li>
                                                    <li><a href="../courses/mscnursing">MSc.(Nursing)</a></li>
                                                    <!--<li><a href="portfolio-boxed-3-col.html">MSc.(Forensic Sci.)</a></li>-->
                                                    <li><a href="../courses/npcc">NPCC</a></li>
                                                    <li><a href="../courses/mha">MHA</a></li>
                                                    <li><a href="../courses/mph">MPH</a></li>
                                                    <li><a href="../courses/mcom">M.Com</a></li>
                                                    <li><a href="../courses/mamasscommunication">MA (Mass Com.)</a></li>
                                                    <li><a href="../courses/majournalism">MA (Journalism)</a></li>
                                                    <li><a href="../courses/maenglish">MA (English)</a></li>
                                                    <li><a href="../courses/mahindi">MA (Hindi)</a></li>
                                                    <li><a href="../courses/masociology">MA (Sociology)</a></li>
                                                    <li><a href="../courses/mapsychology">MA (Psychology)</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Doctoral (Ph.D.)</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Medical Sciences (Specializations)</a>
                                                    </li>
                                                    <li><a href="#">Dental Sciences (Specializations)</a>
                                                    </li>
                                                    <li><a href="#">Nursing (Specializations)</a></li>
                                                    <li><a href="#">Pharmacy (Specializations)</a></li>
                                                    <li><a href="#">Paramedical Sciences
                                                        (Specializations)</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Diplomas/Others</a>
                                                <ul class="dropdown">
                                                    <li><a href="../courses/dpharma">Diploma in Pharmacy</a></li>
                                                    <li><a href="../courses/dsanitation">Diploma in Sanitation</a></li>
                                                    <li><a href="../courses/dmri">Diploma in MRI Technician</a></li>
                                                    <li><a href="../courses/dialysistechnician">Diploma in Dialysis
                                                        Technician</a></li>
                                                    <li><a href="../courses/dm">Diploma in Dental Mechanics</a></li>
                                                    <li><a href="../courses/dh">Diploma in Dental Hygienist</a></li>
                                                    <li><a href="../courses/dxrt">Diploma in X-Ray Technician</a></li>
                                                    <li><a href="../courses/detc">Diploma in Emergency & Trauma Care</a>
                                                    </li>
                                                    <li><a href="../courses/dmlt">Diploma in Medical Lab Technician</a>
                                                    </li>
                                                    <li><a href="../courses/gnm">GNM</a></li>
                                                    <li><a href="../courses/anm">ANM</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <!--<li><a href="portfolio-boxed-title-1-col.html">Circulars</a></li>
                                    <li><a href="portfolio-boxed-title-1-col.html">Academic Calendar</a></li>
                                    <li><a href="portfolio-boxed-title-1-col.html">Syllabus</a></li>
                                    <li><a href="portfolio-boxed-title-1-col.html">Holidays List</a></li>-->
                                </ul>
                            </li>
                            <li><a href="#home">Examinations</a>
                                <ul class="dropdown">
                                    <li><a href="#">Examinations Schedule</a></li>
                                    <li><a href="#">Paper Id & Paper Code</a></li>
                                </ul>
                            </li>
                            <li><a href="#home">Admissions</a>
                                <ul class="dropdown">
                                    <li><a href="../stream/medical">Medical Sciences</a></li>
                                    <li><a href="../stream/dental">Dental Sciences</a></li>
                                    <li><a href="../stream/nursing">Nursing</a></li>
                                    <li><a href="../stream/pharmacy">Pharmacy</a></li>
                                    <li><a href="../stream/management">Management</a></li>
                                    <li><a href="../stream/humanitiesandjournalism">Humanities & Journalism</a></li>
                                    <li><a href="../stream/paramedical">Paramedical Sciences</a></li>
                                </ul>
                            </li>
                            <li><a href="#home">Services</a>
                                <ul class="dropdown">
                                    <li><a href="#">Student Section</a>
                                        <ul class="dropdown">
                                            <li><a href="https://page.biu.edu.in/registration-form/">Registration
                                                Form</a></li>
                                            <li><a href="#">Enrollment Form</a></li>
                                            <li><a href="#">Examination Form</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Documents Services</a>
                                        <ul class="dropdown">
                                            <li><a
                                                    href="https://www.biu.edu.in/wp-content/uploads/2019/06/Document-Verification.pdf">Document
                                                Verification</a></li>
                                            <li><a
                                                    href="https://www.biu.edu.in/wp-content/uploads/2019/06/SOP-Migration-Certificate.pdf">Migration
                                                Certificate</a></li>
                                            <li><a
                                                    href="https://www.biu.edu.in/wp-content/uploads/2019/06/SOP-Provisional-Certificate.pdf">Provisional
                                                Certificate</a></li>
                                            <li><a
                                                    href="https://www.biu.edu.in/wp-content/uploads/2019/06/Official-Transcript.pdf">Transcript</a>
                                            </li>
                                            <li><a href="#">Documents Correction</a></li>
                                            <li><a href="#">Duplicate Certificate</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#home">Research</a>
                                <ul class="dropdown">
                                    <li><a href="#">Journals</a></li>
                                    <!--<li><a href="page-course-list.html">Publication</a></li>
                                    <li><a href="page-courses-accounting-technologies.html">University News</a></li>-->
                                </ul>
                            </li>
                            <li><a href="../contact">Contact</a></li>
                            <!-- Add More Here -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->
    {% block master %} {% endblock %}
    <!-- START FOOTER -->
    <footer id="footer" class="footer divider layer-overlay overlay-dark-8"
            data-bg-img="{% static 'photos/footer/g6.jpg' %}">
        <div class="container pt-60 pb-30">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom-theme-colored-2">Tweets by ‎@BIU_Bareilly</h5>
                        <div id="flickr-feed" class="clearfix">
                            <a class="twitter-timeline" width="250" height="270"
                               href="https://twitter.com/biubareilly?ref_src=twsrc%5Etfw">Tweets by
                                biubareilly</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom-theme-colored-2">Quick Links</h5>
                        <div class="tags">
                            <a href="https://www.nmc.org.in/">NMC</a>
                            <a href="https://dciindia.gov.in/">DCI</a>
                            <a href="https://www.indiannursingcouncil.org/">INC</a>
                            <a href="https://dgpm.nic.in/">PCI</a>
                            <a href="https://www.ugc.ac.in/">UGC</a>
                            <a href="https://digilocker.gov.in/">DigiLocker</a>
                            <a href="https://page.biu.edu.in/registration-form/">How To Apply</a>
                            <a href="#">Career</a>
                            <a href="#">Scholarship</a>
                            <a href="https://www.biu.edu.in/wp-content/uploads/2020/06/Brochure-BIU.pdf">Brochure</a>
                            <a href="#">Image Gallery</a>
                            <a href="#">Video Gallery</a>
                            <a href="#">Events</a>
                            <a href="#">Alumni</a>
                            <a href="../contact">Contact Us</a>
                            <a href="https://page.biu.edu.in/registration-form/">Online Registration</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark"><img alt="" src="{% static 'photos/footer/logo-small.png' %}"
                                                  loading="lazy">
                        <p class="font-12 mt-10 mb-10">Bareilly International University, Bareilly is established in
                            accordance to
                            UGC Act 1956 by the Uttar Pradesh Govt. Act No. 26 of 2016 dated 16th Sept 2016. The
                            University has
                            commenced academic activities from session 2016-17 with various courses.</p>
                        <a class="btn btn-default btn-transparent btn-xs btn-flat mt-5" href="history">Read more</a>
                        <ul class="styled-icons icon-sm icon-bordered icon-circled clearfix mt-20">
                            <li><a href="https://www.facebook.com/biubly/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/biubareilly"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom-theme-colored-2">Google Map</h5>
                        <div class="latest-posts">
                            <!-- Google Map HTML Codes -->
                            <iframe width="230" height="275"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3510.2872956936326!2d79.45726832276604!3d28.38038938269887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a007eaa171012f%3A0x535e385f86dbef22!2sBareilly%20international%20University%20new%20building!5e0!3m2!1sen!2sin!4v1611917264382!5m2!1sen!2sin"
                                    frameborder="0" style="border:0;border-radius: 6px;" allowfullscreen
                                    loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="horizontal-contact-widget mt-30 pt-30 text-center">
                        <div class="col-sm-12 col-sm-4">
                            <div class="each-widget"><i class="pe-7s-phone font-36 mb-10"></i>
                                <h5 class="text-white">University- Call Us</h5>
                                <p>Phone: <a href="#">0581-2526153</a></p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-4 mt-sm-50">
                            <div class="each-widget"><i class="pe-7s-map font-36 mb-10"></i>
                                <h5 class="text-white">Address</h5>
                                <p>Pilibhit Bypass Road
                                    Suresh Sharma Nagar Bareilly, Uttar Pradesh 243006</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-4 mt-sm-50">
                            <div class="each-widget"><i class="pe-7s-mail font-36 mb-10"></i>
                                <h5 class="text-white">Email</h5>
                                <p><a href="#">info@biu.edu.in</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul
                            class="list-inline styled-icons icon-hover-theme-colored icon-gray icon-circled text-center mt-30 mb-10">
                        <li><a href="https://www.facebook.com/biubly/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/biubareilly"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-theme-colored p-20">
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="text-white font-11 m-0">Copyright &copy;2016-2021 Bareilly International University | All
                        Rights
                        Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->
<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->


<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>