{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white">Pro Chancellor</h2>
              <ol class="breadcrumb text-left text-black mt-10">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active text-gray-silver">Pro Chancellor</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">

        <div class="main-content">
            <!-- Section: home -->
            <section id="home" class="bg-lightest fullscreen">
              <div class="display-table text-center">
                <div class="display-table-cell">
                  <div class="container pt-0 pb-0"><div class="row">
                      <div class="col-md-10 col-md-offset-1">
                        <h1 class="font-weight-400 text-theme-color-2 font-64 mb-0">Under construction</h1>
                        <p class="font-14">Sorry.... We are improving and fixing problems of our website.<br>We will be back very soon....</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

      </div>
    </section>
  </div>
  <!-- end main-content -->

  {% endblock %}