{% extends "master.html" %}
{% block master %}
{% load static %}

<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white">University Logo</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li class="active text-gray-silver">University Logo</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <img src="{{ MEDIA_URL }}/media/logo.png" class="img-fluid" alt="Responsive image">
        </div>
    </section>
</div>
<!-- end main-content -->

{% endblock %}