{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white">Mission and Vision</h2>
              <ol class="breadcrumb text-left text-black mt-10">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active text-gray-silver">Mission and Vision</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">

        <!-- Textblock -->
        <div class="esc-heading heading-line-bottom lr-line left-heading">
          <h4>Vision</h4>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Bareilly International University  will have a transformative impact on society through continual innovation in education, research, creativity, and entrepreneurship.</p>
            <p>To be a leading medical institution excels in providing quality education, research environment and affordable health care services.</p>
            <h4>Mission</h4>
            <p>To impart quality higher education and to undertake research and extension with emphasis on application and innovation that cater to the emerging societal needs through all-round development of the students of all sections enabling them to be globally competitive and socially responsible citizens with intrinsic values.</p>
            <p>Our endeavor is to create academic and research environment by providing  state of art infrastructure & facilities to impart knowledge and develop skill in its pupil and function as a center of cost effective comprehensive health care services where people are treated with dignity and respect. Ensure holistic development of its pupil to attain success in personal and professional life and handle contemporary health problem of society effectively.</p>
            
          </div>
        </div>

      </div>
    </section>
  </div>
  <!-- end main-content -->

  {% endblock %}