{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
<div class="main-content">
  <!-- Section: inner-header -->
  <!-- <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/courseimg/newheadbg.jpg' %}">-->
  <section class="inner-header divider parallax overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-white"> B. Pharma (Bachelor of Pharmacy)</h2>
            <ol class="breadcrumb text-left text-black mt-10">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active text-gray-silver">B. Pharma</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Blog -->
  <section>
    <div class="container">
      <div class="row">
        <img src="images/courseimg/lg6.jpg" alt="">
        <p><strong>Course Name :</strong>B. Pharma (Bachelor of Pharmacy)</p>
        <p><b>Course Duration :</b> 4 Years
        </p>
        <p><b>Annual Intake :</b> 100
        </p>
        <p><b>Eligibility :</b> Passed 10+2 level examination with English as one of the subjects and Physics, Chemistry, Mathematics and/or Biology (PCB /PCM group) as optional subjects individually. Any other qualification approved by the Pharmacy Council of India as equivalent to any of the above examinations.
          A candidate must have obtained minimum 45% marks in the qualifying examination. In case of candidates belonging to SC/ ST must have obtained 40% instead 45%.
          
          The minimum age for admission shall be 17 years as on 31 December of the year in which admission sought.
          
        </p>
        <p><b>Admission Process :</b> 
          Admission is made in 1st years and once in a year.
A candidate having completed 2 year Diploma in Pharmacy course from any institutions recognized by Pharmacy Council of India, shall be eligible for direct admission to 2nd year of Bachelor of Pharmacy course.

The candidate, who fulfils the eligibility criteria, shall get registered.

The candidate is required to appear in written test on notified date.

The merit list shall be prepared based on test and the admission list will be notified.
          </p>
        <p><b>Hostel :</b> Hostel annual charges shall be as per the category of hostel opted. However cooperative messing charges shall be payable as decided.</p>
        <p><b>Tuition Fee :</b> <a style="color: #ef274c;" href="#"><b>Check Now </b></a>, Other charges shall be extra
        </p>
        <p><b>Examination System :</b> Yearly</p>
        <p><b>Regulation Body :</b> (PCI) Pharmacy Council of India</p>
        <p><b>How to Apply :</b> A candidate seeking admission shall contact admission cell and get registered with university on the prescribed form.
          All registered candidates shall appear in the written test on date assigned.
         
         Candidates as per result/merit list shall report for admission
          
        </p>
        <p><b>Vision :</b>We serve with a vision to lead as world class institute in the field of Pharmaceutical industry, education and research.</p>
        <p><b>Mission :</b> To impart World class value based Pharmaceutical education for the learners.

          Academia-Industry collaboration for the transfer of technology and practical skills.
          
          To provide the health services and awareness to the rural areas
          
          To create skilled Pharmacy professionals every year to the society and country.
          
          Advances in the field of Pharmaceutical research and development</p>
        <p><b>Career Prospects after B.Pharm</b><br>* Government Job Prospects:<br>
          * Drug inspector, Food inspector, Drug Analyst, Academics (Teaching/Training)<br>
          * Community Pharmacist, Hospital Pharmacist<br>
          * Research & Development<br>
          * Private Job Prospects:<br>
          * Clinical Research Associate, Quality Control Associate.<br>
          * Formulation Development Associate, Pharmacovigilance Associate.<br>
          * Sales & Marketing Executive, Production Manager.<br>
          * Hospital Pharmacist, Academics (Teaching/Training), Scientific Writer.<br>
          * Self-Employment/ Entrepreneurship:<br>
          * Pharmacy Store, Hospital Pharmacy.<br>
          * Pharmaceutical Industry, Pharmaceutical Marketing.</p>
        <hr>
        <br>
        <p align="center"><b>Contact  : </b><button class="text-center font-16 font-weight-600 bg-theme-color-2 text-white">Apply Now</button>  </p>
        
        
      </div>
    </div>
  </section>
</div>
<!-- end main-content -->
{% endblock %}