{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
<div class="main-content">
  <!-- Section: inner-header -->
  <!-- <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/courseimg/newheadbg.jpg' %}">-->
  <section class="inner-header divider parallax overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-white">BSc Medical Lab Technology</h2>
            <ol class="breadcrumb text-left text-black mt-10">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active text-gray-silver">BSc (MLT)</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Blog -->
  <section>
    <div class="container">
      <div class="row">
        <img src="images/courseimg/lg6.jpg" alt="">
        <p><strong>Course Name :</strong> BSc Medical Lab Technology</p>
        <p><b>Course Duration :</b> 	3 ½ Years including six months internship
        </p>
        <p><b>Annual Intake :</b> 40
        </p>
        <p><b>Eligibility :</b> Passed 10+2 (PCB group) from any recognized board (English as one of the subject) with minimum 50 % marks taken together and Clear pass in each subject of Physics, Chemistry, Biology and English individually. In case of candidates belonging to SC/ ST must have obtained 45% instead 50%.
          
        </p>
        <p><b>Admission Process :</b> Admission is made only in 1st year and is made once in a year.
          The candidate, who fulfils the eligibility criteria shall get registered.
          
          The candidate is required to appear in written test on notified date.
          
          The merit list shall be prepared based on test and the admission list will be notified.
          </p>
        <p><b>Hostel :</b> Hostel annual charges shall be as per the category of hostel opted. However cooperative messing charges shall be payable as decided.</p>
        <p><b>Tuition Fee :</b> <a style="color: #ef274c;" href="#"><b>Check Now </b></a>, Other charges shall be extra
        </p>
        <p><b>Examination System :</b> Yearly</p>
        <p><b>Regulation Body :</b> (PCI) Paramedical Council of India</p>
        <p><b>How to Apply :</b> A candidate seeking admission shall contact admission cell and get registered with university on the prescribed form.
          All registered candidates shall appear in the written admission test on date assigned.
          
          Candidates as per admission list shall report for admission.
          
        </p>
        <hr>
        <br>
        <p align="center"><b>Contact  : </b><button class="text-center font-16 font-weight-600 bg-theme-color-2 text-white">Apply Now</button>  </p>
        
        
      </div>
    </div>
  </section>
</div>
<!-- end main-content -->
{% endblock %}