{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
<div class="main-content">
  <!-- Section: inner-header -->
  <!-- <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/courseimg/newheadbg.jpg' %}">-->
  <section class="inner-header divider parallax overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-white">MD (Doctor of Medicine)</h2>
            <ol class="breadcrumb text-left text-black mt-10">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active text-gray-silver">MD (Doctor of Medicine)</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Blog -->
  <section>
    <div class="container">
      <div class="row">
        <img src="images/courseimg/lg6.jpg" alt="">
        <p><strong>Course Name :</strong> MD (Doctor of Medicine)</p>
        
        <p><b>Eligibility :</b>A candidate who have passed final year of MBBS examination after pursing a study in a medical college recognized by NMC and completed one year compulsory rotational internship and has obtained permanent registration from State medical council is eligible for admission.
          
        </p>
        <p><b>Admission Process :</b> Admission is made through counselling based on merit of National eligibility cum Entrance Test (PG NEET).
          Admission is made only in 1st year and last date for admission is 30th May of the admission year or as notified by NMC or appropriate Authority.
          
          </p>
        <p><b>Hostel :</b> Compulsory </p>
        <p><b>Tuition Fee :</b> <a style="color: #ef274c;" href="#"><b>Check Now </b></a>, Other charges shall be extra
        </p>
        <p><b>Examination System :</b> Yearly</p>
        <p><b>Regulation Body :</b> NMC (National Medical Commission)</p>
        <p><b>How to Apply :</b> Candidate shall apply for PG-NEET in accordance to notification made on NEET website during Nov/ Dec once in a year.
          A candidate has to apply online to participate in NEET and will appear in examination online as per program notified on site.
          A candidate who will complete the rotational internship before 31st March can apply for NEET counselling.
          Qualified students have to participate on line state counselling during March / April.
          Candidate allotted seat shall report for admission at college on or before last date mentioned in the allotment letter along with fee and original documents.
                    
        </p>
        <hr>
       <h4 class="line-bottom mt-20 mb-20 text-theme-colored">Specializations Information </h4>
        <ul id="myTab" class="nav nav-tabs boot-tabs">
          <li class="active"><a href="#small" data-toggle="tab">MD (Specializations)</a></li>
          </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="small">
            <table class="table table-bordered">
              <tr>
                <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">MD (Specializations)</td>
              </tr>
              <tr>
                <th>Coures Name</th>
                <th>Coures Duration</th>
                <th>Intake</th>
               
              </tr>
              <tbody>
                <tr>
                  <th scope="row">MD( Anatomy)</th>
                  <td>Three Years</td>
                  <td>Three</td>
                  
                </tr>
                <tr>
                  <th scope="row">MD(Physiology)</th>
                  <td>Three Years</td>
                  <td>Two</td>
                  
                </tr>
                <tr>
                  <th scope="row">MD(Biochemistry)</th>
                  <td>Three Years</td>
                  <td>Two</td>
                  
                </tr>
                <tr>
                  <th scope="row">MD (Pathology)</th>
                  <td>Three Years</td>
                  <td>Nine</td>
                  
                </tr>
                <tr>
                  <th scope="row">MD(Microbiology)</th>
                  <td>Three years</td>
                  <td>Two</td>
                 
                </tr>
                <tr>
                  <th scope="row">MD(Pharmacology)</th>
                  <td>Three years</td>
                  <td>Four</td>
                 
                </tr>
                <tr>
                  <th scope="row">MD(Community Medicine)</th>
                  <td>Three years</td>
                  <td>Six</td>
                 
                </tr>
                <tr>
                  <th scope="row">MD (General Medicine)</th>
                  <td>Three years</td>
                  <td>Four</td>
                 
                </tr>
                <tr>
                  <th scope="row">MD(Psychiatry)</th>
                  <td>Three years</td>
                  <td>Two</td>
                 
                </tr>
                <tr>
                  <th scope="row">D(Dermatology)</th>
                  <td>Three years</td>
                  <td>Three</td>
                 
                </tr>
                <tr>
                  <th scope="row">MD(Pulmonary Medicine)</th>
                  <td>Three years</td>
                  <td>Three</td>
                 
                </tr>
                <tr>
                  <th scope="row">MD (Paediatrics)</th>
                  <td>Three years</td>
                  <td>Four</td>
                 
                </tr>
                <tr>
                  <th scope="row">MD (Radiodiagnosis)</th>
                  <td>Three years</td>
                  <td>Five</td>
                 
                </tr>
                <tr>
                  <th scope="row">MD (Anaesthesiology)</th>
                  <td>Three years</td>
                  <td>Nine</td>
                 
                </tr>
              </tbody>
            </table>
          </div>
          <hr>
          <br>
          <p align="center"><b>Contact  : </b><button class="text-center font-16 font-weight-600 bg-theme-color-2 text-white">Apply Now</button>  </p>

       </div>
      </div>
    </div>
  </section>
</div>
<!-- end main-content -->
{% endblock %}