{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
<div class="main-content">
  <!-- Section: inner-header -->
  <!-- <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/courseimg/newheadbg.jpg' %}">-->
  <section class="inner-header divider parallax overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-white">MBBS (Bachelor of Medicine  and Bachelor of Surgery)</h2>
            <ol class="breadcrumb text-left text-black mt-10">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active text-gray-silver">MBBS</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Blog -->
  <section>
    <div class="container">
      <div class="row">
        <img src="images/courseimg/lg6.jpg" alt="">
        <p><strong>Course Name :</strong> MBBS ( Bachelor of Medicine  and Bachelor of Surgery )</p>
        <p><b>Course Duration :</b> Four and half year and  1<sup>yr</sup> compulsory rotatory internship
        </p>
        <p><b>Annual Intake :</b> 150
        </p>
        <p><b>Eligibility :</b> A candidate should have passed in the subjects of Physics, Chemistry, Biology/Biotechnology and English individually and having minimum aggregate of 50% in the Intermediate examination of U P Board or 10+2 level equivalent examination from any Board/ University recognized / approved by Bareilly International University. For candidates belonging to SC/ ST/ OBC, aggregate percentage shall be 40% instead of 50% subject to NMC Norms.
          Minimum age: 17 years as on 31st December of the year of admission
          
        </p>
        <p><b>Admission Process :</b> Admission is made through counselling based on merit of National eligibility cum Entrance Test (NEET).
          Admission is made only in 1st year and last date for admission is 30th September of the admission year or as notified by NMC or appropriate Authority
          </p>
        <p><b>Hostel :</b> Compulsory</p>
        <p><b>Tuition Fee :</b> <a style="color: #ef274c;" href="#"><b>Check Now </b></a>, Other charges shall be extra
        </p>
        <p><b>Examination System :</b> Yearly</p>
        <p><b>Regulation Body :</b> NMC (National Medical Commission)</p>
        <p><b>How to Apply :</b> Candidate shall apply for UG- NEET.
          Notification for applying is made in leading Newspapers and on NEET website during JAN/ FEB once in a year.  A candidate has to apply online to participate in NEET.
          A candidate whose qualifying examination result is awaited can apply for NEET, however he/ she must have result available at the time of counselling.
          The examinations are held in April / May at various locations and list of qualified students is notified on NEET website.
          Qualified students have to participate in counselling during July/ Aug. The documents relating to eligibility are verified in the counselling.
          Candidate allotted seat has to report for admission at college on or before last date mentioned in the allotment letter along with fee and documents.
          
        </p>
        <hr>
        <br>
        <p align="center"><b>Contact  : </b><button class="text-center font-16 font-weight-600 bg-theme-color-2 text-white">Apply Now</button>  </p>
        
        
      </div>
    </div>
  </section>
</div>
<!-- end main-content -->
{% endblock %}