{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
<div class="main-content">
  <!-- Section: inner-header -->
  <!-- <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/courseimg/newheadbg.jpg' %}">-->
  <section class="inner-header divider parallax overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-white">MBBS (Bachelor of Medicine  and Bachelor of Surgery)</h2>
            <ol class="breadcrumb text-left text-black mt-10">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active text-gray-silver">MBBS</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Blog -->
  <section>
    <div class="container">
      <div class="row">
        <img src="images/courseimg/lg6.jpg" alt="">
        <p><strong>Course Name :</strong> MBBS ( Bachelor of Medicine  and Bachelor of Surgery )</p>
        <p><b>Course Duration :</b> Four and half year and  1<sup>yr</sup> compulsory rotatory internship
        </p>
        <p><b>Annual Intake :</b> 150
        </p>
        <p><b>Eligibility :</b> A candidate should have passed in the subjects of Physics, Chemistry, Biology/Biotechnology and English individually and having minimum aggregate of 50% in the Intermediate examination of U P Board or 10+2 level equivalent examination from any Board/ University recognized / approved by Bareilly International University. For candidates belonging to SC/ ST/ OBC, aggregate percentage shall be 40% instead of 50% subject to NMC Norms.
          Minimum age: 17 years as on 31st December of the year of admission
          
        </p>
        <p><b>Admission Process :</b> Admission is made through counselling based on merit of National eligibility cum Entrance Test (NEET).
          Admission is made only in 1st year and last date for admission is 30th September of the admission year or as notified by NMC or appropriate Authority
          </p>
        <p><b>Hostel :</b> Compulsory</p>
        <p><b>Tuition Fee :</b> <a style="color: #ef274c;" href="#"><b>Check Now </b></a>, Other charges shall be extra
        </p>
        <p><b>Examination System :</b> Yearly</p>
        <p><b>Regulation Body :</b> NMC (National Medical Commission)</p>
        <p><b>How to Apply :</b> Candidate shall apply for UG- NEET.
          Notification for applying is made in leading Newspapers and on NEET website during JAN/ FEB once in a year.  A candidate has to apply online to participate in NEET.
          A candidate whose qualifying examination result is awaited can apply for NEET, however he/ she must have result available at the time of counselling.
          The examinations are held in April / May at various locations and list of qualified students is notified on NEET website.
          Qualified students have to participate in counselling during July/ Aug. The documents relating to eligibility are verified in the counselling.
          Candidate allotted seat has to report for admission at college on or before last date mentioned in the allotment letter along with fee and documents.
          
        </p>
        <p><b>Contact  : </b> Apply Now </p>
        <h3 class="text-theme-colored line-bottom text-theme-colored">MBBS Information</h3>
        <h4 class="mt-0"><span class="text-theme-color-2">Price :</span> $420</h4>
        <ul class="review_text list-inline">
          <li>
            <div class="star-rating" title="Rated 4.50 out of 5"><span style="width: 90%;">4.50</span></div>
          </li>
        </ul>
        <h5><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo unde, <span
              class="text-theme-color-2">accounting technologies</span> corporis dolorum blanditiis ullam officia
            <span class="text-theme-color-2">our university </span>natus minima fugiat repellat! Corrupti
            voluptatibus
            aperiam
            voluptatem. Exercitationem, placeat, cupiditate.</em></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore suscipit, inventore aliquid incidunt,
          quasi
          error! Natus esse rem eaque asperiores eligendi dicta quidem iure, excepturi doloremque eius neque autem
          sint
          error qui tenetur, modi provident aut, maiores laudantium reiciendis expedita. Eligendi</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptatem officiis quod animi possimus
          a,
          iure
          nam sunt quas aperiam non recusandae reprehenderit, nesciunt cumque pariatur totam repellendus delectus?
          Maxime
          quasi earum nobis, dicta, aliquam facere reiciendis, delectus voluptas, ea assumenda blanditiis placeat
          dignissimos quas iusto repellat cumque.</p>

        <h4 class="line-bottom mt-20 mb-20 text-theme-colored">All Courses Idea</h4>
        <ul id="myTab" class="nav nav-tabs boot-tabs">
          <li class="active"><a href="#small" data-toggle="tab">Categories</a></li>
          <li><a href="#medium" data-toggle="tab">Categories</a></li>
          <li><a href="#large" data-toggle="tab">Categories</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="small">
            <table class="table table-bordered">
              <tr>
                <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">Prices For
                  All
                  Lesson Type</td>
              </tr>
              <tr>
                <th>Coures Type</th>
                <th>Class time</th>
                <th>Course Duration</th>
                <th>Price</th>
              </tr>
              <tbody>
                <tr>
                  <th scope="row">Applied Psychology</th>
                  <td>45 minutes</td>
                  <td>3 years</td>
                  <td>$810</td>
                </tr>
                <tr>
                  <th scope="row">Business Administration (MBA)</th>
                  <td>45 minutes</td>
                  <td>2 years</td>
                  <td>$940</td>
                </tr>
                <tr>
                  <th scope="row">Computer Science (BSc)</th>
                  <td>1 Hours</td>
                  <td>4 years</td>
                  <td>$1180</td>
                </tr>
                <tr>
                  <th scope="row">Development Studies (MDS)</th>
                  <td>1 Hours</td>
                  <td>5 years</td>
                  <td>$1400</td>
                </tr>
                <tr>
                  <th scope="row">Engineering Technology (BSc)</th>
                  <td>30 minutes</td>
                  <td>3 years</td>
                  <td>$600</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="medium">
            <table class="table table-bordered">
              <tr>
                <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">Prices For
                  All
                  Lesson Type</td>
              </tr>
              <tr>
                <th>Coures Type</th>
                <th>Class time</th>
                <th>Course Duration</th>
                <th>Price</th>
              </tr>
              <tbody>
                <tr>
                  <th scope="row">Applied Psychology</th>
                  <td>45 minutes</td>
                  <td>3 years</td>
                  <td>$810</td>
                </tr>
                <tr>
                  <th scope="row">Business Administration (MBA)</th>
                  <td>45 minutes</td>
                  <td>2 years</td>
                  <td>$940</td>
                </tr>
                <tr>
                  <th scope="row">Computer Science (BSc)</th>
                  <td>1 Hours</td>
                  <td>4 years</td>
                  <td>$1180</td>
                </tr>
                <tr>
                  <th scope="row">Development Studies (MDS)</th>
                  <td>1 Hours</td>
                  <td>5 years</td>
                  <td>$1400</td>
                </tr>
                <tr>
                  <th scope="row">Engineering Technology (BSc)</th>
                  <td>30 minutes</td>
                  <td>3 years</td>
                  <td>$600</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="large">
            <table class="table table-bordered">
              <tr>
                <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">Prices For
                  All
                  Lesson Type</td>
              </tr>
              <tr>
                <th>Coures Type</th>
                <th>Class time</th>
                <th>Course Duration</th>
                <th>Price</th>
              </tr>
              <tbody>
                <tr>
                  <th scope="row">Applied Psychology</th>
                  <td>45 minutes</td>
                  <td>3 years</td>
                  <td>$810</td>
                </tr>
                <tr>
                  <th scope="row">Business Administration (MBA)</th>
                  <td>45 minutes</td>
                  <td>2 years</td>
                  <td>$940</td>
                </tr>
                <tr>
                  <th scope="row">Computer Science (BSc)</th>
                  <td>1 Hours</td>
                  <td>4 years</td>
                  <td>$1180</td>
                </tr>
                <tr>
                  <th scope="row">Development Studies (MDS)</th>
                  <td>1 Hours</td>
                  <td>5 years</td>
                  <td>$1400</td>
                </tr>
                <tr>
                  <th scope="row">Engineering Technology (BSc)</th>
                  <td>30 minutes</td>
                  <td>3 years</td>
                  <td>$600</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end main-content -->
{% endblock %}