{% extends "courses/stream.html" %}
{% block stream %}
{% load static %}
<div class="col-md-8 blog-pull-right">
  <div class="single-service">
    <p>Institute of Dental Sciences is the constituent college of the faculty of Dental Sciences.  All courses offered in the faculty are recognized from Dental council of India. 
      The well-structured building provides congenial environment for learning. Highly upgraded and equipped labs with modern instruments & ultra-modern dental chairs machines provide students effective learning and translating their theoretical knowledge to practical’s. The cocurricular and cultural activities are well integrated with academics.</p>
    <h3 class="text-theme-colored line-bottom text-theme-colored">Under Graduate Dental Science</h3>
    <!-- <p>We are offering Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/bds"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> BDS (Bachelor of Dental Surgery)</i></a>
        </div>

      </div>
    </div>
  </div>
  <div class="single-service">
    <h3 class="text-theme-colored line-bottom text-theme-colored">Post Graduate Dental Science</h3>
    <!--<p>We are offering Post Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/mds"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MDS (Conservative Dentistry & Endodontics)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/mds"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MDS (Oral & Maxillofacial Surgery</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/mds"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MDS (Orthodontics)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/mds"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MDS (Periodontics)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/mds"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MDS (Prosthodontics and Crown & Bridge)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/mds"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MDS (Oral Medicine and Radiology)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/mds"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MDS (Paediatric & Preventive Dentistry</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/mds"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MDS (Public Health Dentistry)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/mds"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MDS (Oral Pathology & Microbiology)</i></a>
        </div>
      </div>

    </div>
  </div>

  <div class="single-service">
    <h3 class="text-theme-colored line-bottom text-theme-colored">Diplomas Dental Science</h3>
    <!-- <p>We are offering Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/dh"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> Diploma in Dental Hygienist</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/dm"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> Diploma- Dental Mechanics</i></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}