{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
<div class="main-content">
  <!-- Section: inner-header -->
  <!-- <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/courseimg/newheadbg.jpg' %}">-->
  <section class="inner-header divider parallax overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-white"> Diploma in Dental Mechanics</h2>
            <ol class="breadcrumb text-left text-black mt-10">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active text-gray-silver"> Diploma in Dental Mechanics</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Blog -->
  <section>
    <div class="container">
      <div class="row">
        <img src="images/courseimg/lg6.jpg" alt="">
        <p><strong>Course Name :</strong>  Diploma in Dental Mechanics</p>
        <p><b>Course Duration :</b> Two years
        </p>
        <p><b>Annual Intake :</b> 20
        </p>
        <p><b>Eligibility :</b> Passed 10+2 (PCB group) from any recognized board and clear pass in each subject of Physics, Chemistry, Biology and English individually.
          
        </p>
        <p><b>Admission Process :</b> Admission is made only in 1st year and is made once in a year.
          The candidate, who fulfils the eligibility criteria shall get registered.
          
          The candidate is required to appear in written test on notified date.
          
          The merit list shall be prepared based on test and the admission list will be notified.
          </p>
        <p><b>Hostel :</b> Optional</p>
        <p><b>Tuition Fee :</b> <a style="color: #ef274c;" href="#"><b>Check Now </b></a>, Other charges shall be extra
        </p>
        <p><b>Examination System :</b> Yearly</p>
        <p><b>Regulation Body :</b> (DCI) Dental Council of India</p>
        <p><b>How to Apply :</b> A candidate seeking admission shall contact admission cell and get registered with university on the prescribed form.
          All registered candidates shall appear in the written admission test on date assigned and collect information for admission test.
          
          Candidates as per admission list shall report for admission.
          
        </p>
        <hr>
        <br>
        <p align="center"><b>Contact  : </b><button class="text-center font-16 font-weight-600 bg-theme-color-2 text-white">Apply Now</button>  </p>
        
        
      </div>
    </div>
  </section>
</div>
<!-- end main-content -->
{% endblock %}