{% extends "courses/stream.html" %}
{% block stream %}
{% load static %}
<div class="col-md-8 blog-pull-right">
  <div class="single-service">
    <p>BIU College of Humanities & Journalism is the constituent college of this faculty. Under Bareilly International
      University course offered.</p>
    <h3 class="text-theme-colored line-bottom text-theme-colored">Under Graduate Humanities & Journalism</h3>
    <!-- <p>We are offering Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/bajournalism"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> B.A. Journalism</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/bamasscommunication"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> B.A. Mass Communication</i></a>
        </div>
      </div>


    </div>
  </div>
  <div class="single-service">
    <h3 class="text-theme-colored line-bottom text-theme-colored">Post Graduate Humanities & Journalism</h3>
    <!--<p>We are offering Post Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/majournalism"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M.A. Journalism</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/mamasscommunication"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M.A. Mass Communication</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/mapsychology"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M.A. Psychology</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/masociology"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M.A. Sociology</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/maenglish"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M.A. English</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/mahindi"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M.A. Hindi</i></a>
        </div>
      </div>


    </div>
  </div>


</div>

{% endblock %}