{% extends "courses/stream.html" %}
{% block stream %}
{% load static %}
<div class="col-md-8 blog-pull-right">
  <div class="single-service">
    <p>Management is a very broad term and one who can manage affairs of a department or vertical in a company or organization or people and their effectivity. As professional, the basic skills infused during a  business and management studies, provides competency to contribute in the organisation quickly and effectively, while the title varies with the scope of affairs  and responsibilities assigned.</p>
    <h3 class="text-theme-colored line-bottom text-theme-colored">Under Graduate Management</h3>
    <!-- <p>We are offering Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/bsccs"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> B.Sc (Computer Science)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/bcomh"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> B.Com (Hons)</i></a>
        </div>
      </div>
      
      <div class="panel">
        <div class="panel-title "><a href="../courses/bbaft"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> BBA (Finance & Taxation)</i></a>
        </div>
      </div>
      
    </div>
  </div>
  <div class="single-service">
    <h3 class="text-theme-colored line-bottom text-theme-colored">Post Graduate Management</h3>
    <!--<p>We are offering Post Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/mha"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> Masters Hospital Administration</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/mph"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> Master in Public Health</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/mcom"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M.Com</i></a>
        </div>
      </div>


    </div>
  </div>

 
</div>

{% endblock %}