{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
<div class="main-content">
  <!-- Section: inner-header -->
  <!-- <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/courseimg/newheadbg.jpg' %}">-->
  <section class="inner-header divider parallax overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-white">MDS (Master of Dental Surgery)</h2>
            <ol class="breadcrumb text-left text-black mt-10">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active text-gray-silver">MDS (Master of Dental Surgery)</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Blog -->
  <section>
    <div class="container">
      <div class="row">
        <img src="images/courseimg/lg6.jpg" alt="">
        <p><strong>Course Name :</strong> MDS (Master of Dental Surgery)</p>
        
        <p><b>Eligibility :</b>BDS recognized by DCI and completed one year internship 
          Admission is through a competitive Examination PG NEET
        </p>
        <p><b>Admission Process :</b> Admission is made through counselling based on merit of National eligibility cum Entrance Test (PG NEET).
          Admission is made only in 1st year and last date for admission is 30th May of the admission year or as notified by NMC or appropriate Authority.
          
          </p>
        <p><b>Hostel :</b> Compulsory </p>
        <p><b>Tuition Fee :</b> <a style="color: #ef274c;" href="#"><b>Check Now </b></a>, Other charges shall be extra
        </p>
        <p><b>Examination System :</b> Yearly</p>
        <p><b>Regulation Body :</b> DCI (Dental Council of India)</p>
        <p><b>How to Apply :</b> Candidate shall apply for PG-NEET in accordance to notification made on NEET website during Nov/ Dec once in a year.
          A candidate has to apply online to participate in NEET and will appear in examination online as per program notified on site.
          A candidate who will complete the rotational internship before 31st March can apply for NEET counselling.
          Qualified students have to participate on line state counselling during March / April.
          Candidate allotted seat shall report for admission at college on or before last date mentioned in the allotment letter along with fee and original documents.
                    
        </p>
        <hr>
       <h4 class="line-bottom mt-20 mb-20 text-theme-colored">Specializations Information </h4>
        <ul id="myTab" class="nav nav-tabs boot-tabs">
          <li class="active"><a href="#small" data-toggle="tab">MDS (Specializations)</a></li>
          </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="small">
            <table class="table table-bordered">
              <tr>
                <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">MDS (Specializations)</td>
              </tr>
              <tr>
                <th>Coures Name</th>
                <th>Coures Duration</th>
                <th>Intake</th>
               
              </tr>
              <tbody>
                <tr>
                  <th scope="row">MDS (Oral Medicine & Radiology)</th>
                  <td>Three Years</td>
                  <td>3</td>
                  
                </tr>
                <tr>
                  <th scope="row">MDS(Prosthodontics)</th>
                  <td>Three Years</td>
                  <td>6</td>
                  
                </tr>
                <tr>
                  <th scope="row">MDS(Periodontics)</th>
                  <td>Three Years</td>
                  <td>6</td>
                  
                </tr>
                <tr>
                  <th scope="row">MDS (Oral & Maxillofacial Surgery)</th>
                  <td>Three Years</td>
                  <td>6</td>
                  
                </tr>
                <tr>
                  <th scope="row">MDS (Pedodontics)</th>
                  <td>Three years</td>
                  <td>3</td>
                 
                </tr>
                <tr>
                  <th scope="row">MDS (Orthodontics)</th>
                  <td>Three years</td>
                  <td>3</td>
                 
                </tr>
                <tr>
                  <th scope="row">MDS (Endodontics)</th>
                  <td>Three years</td>
                  <td>6</td>
                 
                </tr>
                <tr>
                  <th scope="row">MDS (Community Dentistry)</th>
                  <td>Three years</td>
                  <td>3</td>
                 
                </tr>
                <tr>
                  <th scope="row">MDS (Oral Pathology)</th>
                  <td>Three years</td>
                  <td>2</td>
                 
                </tr>
                
              </tbody>
            </table>
          </div>
          <hr>
          <br>
          <p align="center"><b>Contact  : </b><button class="text-center font-16 font-weight-600 bg-theme-color-2 text-white">Apply Now</button>  </p>

       </div>
      </div>
    </div>
  </section>
</div>
<!-- end main-content -->
{% endblock %}