{% extends "courses/stream.html" %}
{% block stream %}
{% load static %}
<div class="col-md-8 blog-pull-right">
  <div class="single-service">
    <p>Rohilkhand Medical college & Hospital is the constituent college Faculty of medicine.  In this faculty is housed in four storied building with a covered area of above 4,00,000 sq. feet. It has 10 lecture theatres with seating capacity ranging from 150 to 400. The lecture theatres are fitted with modern gadgets – LCD, projectors including interactive boards for effective course delivery. The laboratories, museums, library & faculty chambers combined with contemporary structure provides academic & research environment. 
   </p>
   
    <h3 class="text-theme-colored line-bottom text-theme-colored">Under Graduate Medical Science</h3>
    <!-- <p>We are offering Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/mbbs"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MBBS ( Bachelor of Medicine
              and Bachelor of
              Surgery )</i></a>
        </div>

      </div>
    </div>
  </div>
  <div class="single-service">
    <h3 class="text-theme-colored line-bottom text-theme-colored">Post Graduate Medical Science</h3>
    <!--<p>We are offering Post Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/md"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MD (Anatomy)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/md"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MD (Anaesthesiology)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/md"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MD (Biochemistry)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/md"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MD (Respiratory Medicine)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/md"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MD (Community Medicine)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/md"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MD (Dermatology)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/md"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MD (General Medicine)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/md"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MD (Microbiology)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/md"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MD (Paediatrics)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/md"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MD (Pharmacology)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/md"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MD (Physiology)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/md"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MD (Psychiatry)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/md"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MD (Radiodiagnosis)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/ms"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MS (E.N.T.)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/ms"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MS (General Surgery)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/ms"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MS (Obst. & Gynaeco)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/ms"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MS (Ophthalmology)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/ms"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> MS (Orthopaedics)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/msc"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M.Sc. Anatomy</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/msc"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M.Sc. Physiology</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/msc"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M.Sc. Biochemistry</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/msc"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M.Sc. Pharmacology</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/msc"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M.Sc. Microbiology</i></a>
        </div>
      </div>
      
    </div>
  </div>
</div>

{% endblock %}