{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
<div class="main-content">
  <!-- Section: inner-header -->
  <!-- <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/courseimg/newheadbg.jpg' %}">-->
  <section class="inner-header divider parallax overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-white">M.SC. (Master of Science)</h2>
            <ol class="breadcrumb text-left text-black mt-10">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active text-gray-silver">M.SC. (Master of Science)</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Blog -->
  <section>
    <div class="container">
      <div class="row">
        <img src="images/courseimg/lg6.jpg" alt="">
        <p><strong>Course Name :</strong> M.SC. (Master of Science)</p>
        
        <p><b>Eligibility :</b> MBBS or BDS or BAMS or BHMS or BPT or B. Pharma or B.Sc. (MLT) or B.Sc.(Optometry) or BSc with minimum one subject of Biological Sciences or any other equivalent professional graduation from a recognized University
          
        </p>
        <p><b>Admission Process :</b> Admission is made only in 1st year and is made once in a year.
          The candidate, who fulfils the eligibility criteria shall get registered.
          The candidate is required to appear in written test on notified date.
          The merit list shall be prepared based on test and the admission list will be notified.
         </p>
        <p><b>Hostel :</b> Optional </p>
        <p><b>Tuition Fee :</b> <a style="color: #ef274c;" href="#"><b>Check Now </b></a>, Other charges shall be extra
        </p>
        <p><b>Examination System :</b> Yearly</p>
        <p><b>Regulation Body :</b> NMC (National Medical Commission)</p>
        <p><b>How to Apply :</b> A candidate seeking admission shall contact admission cell and get registered with university on the prescribed form.
          All registered candidates shall appear in the written admission test on date assigned.
          Candidates as per admission list shall report for admission.
       </p>
        <hr>
       <h4 class="line-bottom mt-20 mb-20 text-theme-colored">Specializations Information </h4>
        <ul id="myTab" class="nav nav-tabs boot-tabs">
          <li class="active"><a href="#small" data-toggle="tab">M.SC. (Specializations)</a></li>
          </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="small">
            <table class="table table-bordered">
              <tr>
                <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">M.SC. (Specializations)</td>
              </tr>
              <tr>
                <th>Coures Name</th>
                <th>Coures Duration</th>
                <th>Intake</th>
               
              </tr>
              <tbody>
                <tr>
                  <th scope="row">M.Sc. (Medical Anatomy)</th>
                  <td>Three Years</td>
                  <td>20</td>
                  
                </tr>
                <tr>
                  <th scope="row">M.Sc. (Medical Physiology)</th>
                  <td>Three Years</td>
                  <td>20</td>
                  
                </tr>
                <tr>
                  <th scope="row">M.Sc. (Medical Biochemistry)</th>
                  <td>Three Years</td>
                  <td>20</td>
                  
                </tr>
                <tr>
                  <th scope="row">M.Sc. (Medical Pharmacology)</th>
                  <td>Three Years</td>
                  <td>20</td>
                  
                </tr>
                <tr>
                  <th scope="row">M.Sc. (Medical Microbiology)</th>
                  <td>Three years</td>
                  <td>20</td>
                 
                </tr>
                
              </tbody>
            </table>
          </div>
          <hr>
          <br>
          <p align="center"><b>Contact  : </b><button class="text-center font-16 font-weight-600 bg-theme-color-2 text-white">Apply Now</button>  </p>

       </div>
      </div>
    </div>
  </section>
</div>
<!-- end main-content -->
{% endblock %}