{% extends "master.html" %}
{% block master %}
{% load static %}
<!-- Start main-content -->
<div class="main-content">
  <!-- Section: inner-header -->
  <!-- <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/courseimg/newheadbg.jpg' %}">-->
  <section class="inner-header divider parallax overlay-dark-5" data-bg-img="{% static 'photos/headbg/headbgactive.jpg' %}">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-white">NPCC (Nursing Practitioner In Critical Care Post Graduate Residency)</h2>
            <ol class="breadcrumb text-left text-black mt-10">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active text-gray-silver">NPCC</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Blog -->
  <section>
    <div class="container">
      <div class="row">
        <img src="images/courseimg/lg6.jpg" alt="">
        <p><strong>Course Name :</strong> NPCC (Nursing Practitioner In Critical Care Post Graduate Residency)</p>
        <p><b>Course Duration :</b> Two academic years
          At the end of every academic year student shall have to appear in the examination conducted by Bareilly International University
        </p>
        <p><b>Annual Intake :</b> 10 (Course is open both male & female candidate )
        </p>
        <p><b>Eligibility :</b> A registered B Sc. Nurse / Post Basic B Sc. Nursewith minimum one-year clinical experience
          Passed B Sc. (Nursing) / Post Basic BSc. (Nursing)  from an institute recognized by the Indian Nursing Council  with minimum 55% aggregate marks
          
          A candidate shall have to be medically fit.
          
        </p>
        <p><b>Admission Process :</b> Admission is made only in 1st year and is made once in a year.
          The candidate, who fulfils the eligibility criteria shall get registered.
          
          The candidate is required to appear in written test/ interview on notified date.
          
          The merit list shall be prepared based on test and the admission list will be notified.
          
          Selected candidate should report for admission along with fee and original documents by the last date of notified.
          
          In case a candidate fails to turn up/ deposit fee, opportunity to candidate in the waiting shall be given
          </p>
        <p><b>Hostel :</b> Optinal</p>
        <p><b>Tuition Fee :</b> <a style="color: #ef274c;" href="#"><b>Check Now </b></a>, Other charges shall be extra
        </p>
        <p><b>Examination System :</b> Yearly</p>
        <p><b>Regulation Body :</b> (INC) Indian Nursing Council</p>
        <p><b>How to Apply :</b> A candidate seeking admission shall contact Rohilkhand College of Nursing.
          All eligible candidates shall appear in before the selection board on date assigned.
          
        </p>
        <hr>
        <br>
        <p align="center"><b>Contact  : </b><button class="text-center font-16 font-weight-600 bg-theme-color-2 text-white">Apply Now</button>  </p>
        
        
      </div>
    </div>
  </section>
</div>
<!-- end main-content -->
{% endblock %}