{% extends "courses/stream.html" %}
{% block stream %}
{% load static %}
<div class="col-md-8 blog-pull-right">
  <div class="single-service">
    <p>Rohilkhand College of Nursing is the constituent college of this faculty. Under Rohilkhand College of Nursing course offered are recognized by Indian Nursing Council of India. Now a days modern nursing is a dynamic, therapeutic and educational process in meeting the health needs of the individual, family and the community. The formal nursing education is the only way through which professional nurses can be prepared to work in various working structure of the hospital and the community.</p>
    <h3 class="text-theme-colored line-bottom text-theme-colored">Under Graduate Nursing Science</h3>
    <!-- <p>We are offering Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/bscnursing"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> B Sc.(Nursing)</i></a>
        </div>

      </div>
    </div>
  </div>
  <div class="single-service">
    <h3 class="text-theme-colored line-bottom text-theme-colored">Post Graduate Nursing Science</h3>
    <!--<p>We are offering Post Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/mscnursing"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M Sc.(Nursing)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/npcc"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> NPCC</i></a>
        </div>
      </div>
      

    </div>
  </div>

  <div class="single-service">
    <h3 class="text-theme-colored line-bottom text-theme-colored">Others Nursing Science</h3>
    <!-- <p>We are offering Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/gnm"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> G N M</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/anm"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> A N M</i></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}