{% extends "courses/stream.html" %}
{% block stream %}
{% load static %}
<div class="col-md-8 blog-pull-right">
  <div class="single-service">
    <p>Paramedical courses in interdisciplinary medical subjects are becoming enormously important in health care systems. In the recent years, there has been a growing need for qualified & well trained paramedical personnel. To cater this need, eligible & interested students need to be educated & trained to produce paramedical degree holder (professionals) and diploma holder (technicians).</p>
    <h3 class="text-theme-colored line-bottom text-theme-colored">Under Graduate Paramedical Science</h3>
    <!-- <p>We are offering Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/bpt"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> B P T</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/bscmlt"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> B Sc. (Medical Lab Technology)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/bscopt"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> B Sc.(Optometry)</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/bscfc"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> B Sc (Forensic Sciences)</i></a>
        </div>
      </div>
    </div>
  </div>
 <!-- <div class="single-service">
    <h3 class="text-theme-colored line-bottom text-theme-colored">Post Graduate Paramedical Science</h3>
    <!--<p>We are offering Post Graduate Medical Sciences Courses</p>
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/mbbs"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> M Sc (Forensic Sciences)</i></a>
        </div>
      </div>
      

    </div>
  </div>-->

  <div class="single-service">
    <h3 class="text-theme-colored line-bottom text-theme-colored">Diplomas Paramedical Science</h3>
    <!-- <p>We are offering Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/dmlt"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> Diploma in MLT</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/dxrt"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> Diploma in X-Ray Technician</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/detc"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> Diploma in Emergency& Trauma Care</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/dsanitation"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> Diploma in Sanitation</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/dialysistechnician"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> Diploma in Dialysis Technician</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/drit"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> Diploma in Radio Imaging Technology</i></a>
        </div>
      </div>
      <div class="panel">
        <div class="panel-title "><a href="../courses/dmri"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> Diploma in MRI Technician</i></a>
        </div>
      </div>
      
    </div>
  </div>
</div>

{% endblock %}