{% extends "courses/stream.html" %}
{% block stream %}
{% load static %}
<div class="col-md-8 blog-pull-right">
  <div class="single-service">
    <p>Pharmacy course prepares professional in the field of health sciences focusing on safe and effective medication use. They are educated about the actions of drugs, drug uses, therapeutic roles, side effects, potential drug interactions. The common career prospects are retail pharmacist or dispensing chemist to counsel on the proper use and adverse effects of prescribed medicines and other career avenues include industry, wholesaling, research, academia, and govt. jobs.</p>
    <h3 class="text-theme-colored line-bottom text-theme-colored">Under Graduate Pharmacy</h3>
    <!-- <p>We are offering Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/bpharma"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> Bachelor of Pharmacy</i></a>
        </div>

      </div>
    </div>
  </div>
  

  <div class="single-service">
    <h3 class="text-theme-colored line-bottom text-theme-colored">Diploma Pharmacy</h3>
    <!-- <p>We are offering Graduate Medical Sciences Courses</p>-->
    <div id="accordion1" class="panel-group accordion">
      <div class="panel">
        <div class="panel-title "><a href="../courses/dpharma"><i style="font-size: large;"
              class="fa -user-md mt-5 text-theme-color-2"> Diploma in Pharmacy</i></a>
        </div>
      </div>
      
    </div>
  </div>
</div>

{% endblock %}